<td colspan="5">
  <ul class="forty">
    {{#facet name="Logo"}}<img src="{{displayValue}}"/>{{/facet}}
  </ul>
  <ul class="sixty">
    <li>
    	{{#facet name="Description"}}<p class="description">{{displayValue}}</p>{{/facet}}
    </li>
    <li>
    <b>website</b>
    {{#facet name="Website"}}
    <span class="facet-values">
      <a href="{{displayValue}}" class="webkite-website">{{displayValue}}</a>
    </span>
    {{/facet}}
    </li>
    <li>
      {{#facet name="Stage"}}
      {{#if filterable}}
      <b class="inline-filter-button">
        <a class="webkite-toggle" data-target=".{{../../id}}-{{name}}-menu">{{downcase name}}<i></i></a>
        <ul class="{{../../id}}-{{name}}-menu inline-filter-menu webkite-hide webkite-menu">
          {{#each filterableValues}}
          <li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".{{../../../id}}-{{../name}}-menu" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a></li>
          {{/each}}
        </ul>
      </b>
      {{else}}
      <b>{{downcase name}}</b>
      {{/if}}
      {{#if filterable}}
      <span class="facet-values">
        {{#each values}}
        <a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>{{#unless @last}}, <br>{{/unless}}
        {{/each}}
      </span>
      {{else}}
      <span class="facet-values">
      {{displayValue}}
      </span>
      {{/if}}
      {{/facet}}
      </li>
      <li>
        <b>investment date</b>
        {{#facet name="Investment Date"}}
        <span class="facet-values">
        {{displayValue}}
        </span>
        {{/facet}}
      </li>
      <li>
        <b>amount raised</b>
        {{#facet name="Amount Raised"}}
        <span class="facet-values">
        {{displayValue}}
        </span>
        {{/facet}}
      </li>
      <li>
        <b>exit date</b>
        {{#facet name="Exit Date"}}
        <span class="facet-values">
        {{displayValue}}
        </span>
        {{/facet}}
      </li>
       <li>
        <b>exit size</b>
        {{#facet name="Exit Size"}}
        <span class="facet-values">
        {{displayValue}}
        </span>
        {{/facet}}
      </li>
       <li>
        <b>current state</b>
        {{#facet name="Current Size"}}
        <span class="facet-values">
        {{displayValue}}
        </span>
        {{/facet}}
      </li>
  </ul>
</td><!-- webkite-item-details -->
